h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

div,, ul, li, button, a, nav, section {
    font-family: 'Oswald', sans-serif;
}

// Navbar Styles
.logo {
    max-width: 200px;
}

// Hero Styles
.bg-img {
    background-image: url("https://i.ibb.co/Mhb8mDj/popcorn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}